Repository Morphclue/apollusia, pull requests merged in 2022-11, with the labels that each got.

#26 Show page/tab titles
  frontend/src/app/about/about-routing.module.ts
  frontend/src/app/dashboard/dashboard-routing.module.ts
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/poll-routing.module.ts
Labels: enhancement

#27 Mobile Improvements
  frontend/src/app/poll/check-button/check-button.component.html
  frontend/src/app/poll/check-button/check-button.component.scss
  frontend/src/app/poll/check-button/check-button.component.spec.ts
  frontend/src/app/poll/check-button/check-button.component.ts
  frontend/src/app/poll/choose-date/choose-date.component.html
  frontend/src/app/poll/choose-events/choose-events.component.html
  frontend/src/app/poll/choose-events/choose-events.component.scss
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/event-head/event-head.component.html
  frontend/src/app/poll/event-head/event-head.component.scss
  frontend/src/app/poll/event-head/event-head.component.spec.ts
  frontend/src/app/poll/event-head/event-head.component.ts
  frontend/src/app/poll/poll.module.ts
Labels: enhancement

#28 Informational Alerts
  frontend/src/app/about/features/features.component.html
  frontend/src/app/about/features/features.component.scss
  frontend/src/app/about/features/features.component.ts
  frontend/src/app/about/statistics/statistics.component.html
  frontend/src/app/about/statistics/statistics.component.scss
  frontend/src/app/poll/check-button/check-button.component.html
  frontend/src/app/poll/check-button/check-button.component.ts
  frontend/src/app/poll/choose-events/choose-events.component.html
  frontend/src/app/poll/choose-events/choose-events.component.scss
  frontend/src/styles.scss
Labels: enhancement

#30 Unique users statistic
  backend/src/dto/statistics.dto.ts
  backend/src/statistics/statistics/statistics.service.ts
  frontend/src/app/about/statistics/statistics.component.html
  frontend/src/app/about/statistics/statistics.component.ts
  frontend/src/app/model/statistics.ts
Labels: enhancement

#35 Markdown Description and Location Links
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/about/features/features.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/location-link/location-link.component.html
  frontend/src/app/core/location-link/location-link.component.scss
  frontend/src/app/core/location-link/location-link.component.ts
  frontend/src/app/core/markdown/markdown.component.html
  frontend/src/app/core/markdown/markdown.component.scss
  frontend/src/app/core/markdown/markdown.component.ts
  frontend/src/app/core/pipes/location-icon.pipe.spec.ts
  frontend/src/app/core/pipes/location-icon.pipe.ts
  frontend/src/app/dashboard/card/card.component.html
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/poll/choose-events/choose-events.component.html
  frontend/src/app/poll/create-poll/create-edit-poll.component.html
  frontend/src/app/poll/poll.module.ts
  frontend/src/styles.scss
Labels: enhancement, frontend

#39 Add unknown participations
  backend/src/poll/poll/poll.service.ts
Labels: bug, enhancement, frontend, backend

#36 Improved Emails
  README.md
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/dto/poll.dto.ts
  backend/src/dto/read-poll.dto.ts
  backend/src/environment.ts
  backend/src/mail/mail/mail.service.ts
  backend/src/mail/templates/book.hbs
  backend/src/mail/templates/email.hbs
  backend/src/mail/templates/participant.hbs
  backend/src/mail/templates/participated.hbs
  backend/src/mail/templates/styles.css
  backend/src/poll/poll/poll.service.ts
  backend/src/schema/poll-event.schema.ts
  backend/src/schema/poll.schema.ts
  frontend/src/app/model/poll.ts
  frontend/src/app/poll/choose-events/choose-events.component.html
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/create-poll/create-edit-poll.component.html
  frontend/src/app/poll/create-poll/create-edit-poll.component.ts
  frontend/src/app/poll/mail-alert/mail-alert.component.html
  frontend/src/app/poll/mail-alert/mail-alert.component.scss
  frontend/src/app/poll/mail-alert/mail-alert.component.ts
  frontend/src/app/poll/poll.module.ts
Labels: enhancement, backend

#38 Configure ESLint
  backend/.eslintrc.js
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.controller.spec.ts
  backend/src/app.module.ts
  backend/src/dto/mail.dto.ts
  backend/src/mail/mail.module.ts
  backend/src/mail/mail/mail.service.spec.ts
  backend/src/mail/mail/mail.service.ts
  backend/src/poll/poll.module.ts
  backend/src/poll/poll/poll.controller.ts
  backend/src/poll/poll/poll.service.ts
  backend/src/schema/participant.schema.ts
  backend/src/statistics/statistics.module.ts
  backend/src/statistics/statistics/statistics.controller.spec.ts
  backend/src/statistics/statistics/statistics.controller.ts
  backend/src/statistics/statistics/statistics.service.spec.ts
  backend/src/statistics/statistics/statistics.service.ts
  backend/src/token/token.module.ts
  backend/src/token/token/token.controller.spec.ts
  backend/src/token/token/token.service.spec.ts
  backend/test/app.e2e-spec.ts
  frontend/.eslintrc.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/about/about.module.ts
  frontend/src/app/about/statistics/statistics.component.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/mail.service.ts
  frontend/src/app/core/services/token.service.ts
  frontend/src/app/core/token/token.component.ts
  frontend/src/app/dashboard/card/card.component.ts
  frontend/src/app/dashboard/dashboard.module.ts
  frontend/src/app/dashboard/dashboard/dashboard.component.html
  frontend/src/app/dashboard/dashboard/dashboard.component.ts
  frontend/src/app/modals/custom-definition-modal/autofill-modal.component.ts
  frontend/src/app/model/participant.ts
  frontend/src/app/model/poll.ts
  frontend/src/app/pipes/some.pipe.ts
  frontend/src/app/poll/choose-date/choose-date.component.html
  frontend/src/app/poll/choose-date/choose-date.component.ts
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/create-poll/create-edit-poll.component.ts
  frontend/src/app/poll/poll.module.ts
  frontend/src/app/poll/services/choose-date.service.ts
Labels: enhancement, frontend, backend

#43 Validation, DTOs and References
  backend/src/dto/index.ts
  backend/src/dto/mail.dto.ts
  backend/src/dto/participant.dto.ts
  backend/src/dto/poll-event.dto.ts
  backend/src/dto/poll.dto.ts
  backend/src/dto/read-poll.dto.ts
  backend/src/dto/settings.ts
  backend/src/dto/statistics.dto.ts
  backend/src/poll/poll/poll.controller.ts
  backend/src/poll/poll/poll.service.ts
  backend/src/schema/participant.schema.ts
  backend/src/schema/poll-event.schema.ts
  backend/src/schema/poll.schema.ts
  backend/src/schema/ref.decorator.ts
  backend/src/schema/settings.ts
  frontend/src/app/core/services/mail.service.ts
  frontend/src/app/modals/settings-modal/settings-modal.component.ts
  frontend/src/app/model/participant.ts
  frontend/src/app/model/poll-event.ts
  frontend/src/app/model/poll.ts
  frontend/src/app/pipes/some.pipe.ts
  frontend/src/app/poll/choose-date/choose-date.component.ts
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/create-poll/create-edit-poll.component.ts
Labels: enhancement, frontend, backend

#45 Server-Side Rendering
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/angular.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/server.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/app.server.module.ts
  frontend/src/app/core/cookie-banner/cookie-banner.component.html
  frontend/src/app/core/cookie-banner/cookie-banner.component.scss
  frontend/src/app/core/cookie-banner/cookie-banner.component.spec.ts
  frontend/src/app/core/cookie-banner/cookie-banner.component.ts
  frontend/src/app/core/core.module.ts
  frontend/src/app/core/services/mail.service.ts
  frontend/src/app/core/services/storage.service.ts
  frontend/src/app/core/services/token.service.ts
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/main.server.ts
  frontend/src/main.ts
  frontend/tsconfig.server.json
Labels: enhancement, frontend

#47 Close poll at Deadline
  frontend/src/app/poll/check-button/check-button.component.ts
  frontend/src/app/poll/choose-events/choose-events.component.html
  frontend/src/app/poll/choose-events/choose-events.component.scss
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/services/poll.service.spec.ts
  frontend/src/app/poll/services/poll.service.ts
Labels: enhancement, frontend

#51 Fix a few CI warnings
  .github/workflows/ci-cd.yml
Labels: enhancement

#52 Add Angular PWA
  frontend/angular.json
  frontend/ngsw-config.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/assets/icons/icon-128x128.png
  frontend/src/assets/icons/icon-144x144.png
  frontend/src/assets/icons/icon-152x152.png
  frontend/src/assets/icons/icon-192x192.png
  frontend/src/assets/icons/icon-384x384.png
  frontend/src/assets/icons/icon-48x48.png
  frontend/src/assets/icons/icon-512x512.png
  frontend/src/assets/icons/icon-72x72.png
  frontend/src/assets/icons/icon-96x96.png
  frontend/src/assets/logo-colored.png
  frontend/src/index.html
  frontend/src/manifest.webmanifest
Labels: enhancement
