Repository Morphclue/apollusia, pull requests merged in 2023-04, with the labels that each got.

#65 Add participant-token header
  backend/src/poll/poll/poll.controller.ts
  backend/src/poll/poll/poll.service.ts
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/services/poll.service.ts
Labels: bug, enhancement, frontend, backend

#66 Add ParticipationTokenInterceptor
  backend/src/poll/poll/poll.controller.ts
  backend/src/poll/poll/poll.service.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/interceptors/participant-token.interceptor.spec.ts
  frontend/src/app/core/interceptors/participant-token.interceptor.ts
  frontend/src/app/poll/choose-events/choose-events.component.ts
  frontend/src/app/poll/services/poll.service.ts
Labels: bug, enhancement, frontend, backend

#67 Update to Angular 15 and fix ServiceWorker update loop
  backend/pnpm-lock.yaml
  frontend/angular.json
  frontend/e2e/protractor.conf.js
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/e2e/tsconfig.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/app.module.ts
  frontend/tsconfig.json
Labels: bug, enhancement, frontend

#68 Update Backend dependencies
  backend/package.json
  backend/pnpm-lock.yaml
Labels: enhancement, backend

#69 Show End time in Autofill
  frontend/src/app/modals/autofill-modal/autofill-modal.component.html
  frontend/src/app/modals/autofill-modal/autofill-modal.component.scss
  frontend/src/app/modals/autofill-modal/autofill-modal.component.spec.ts
  frontend/src/app/modals/autofill-modal/autofill-modal.component.ts
  frontend/src/app/modals/custom-definition-modal/autofill-modal.component.html
  frontend/src/app/modals/custom-definition-modal/autofill-modal.component.scss
  frontend/src/app/modals/index.ts
  frontend/src/styles.scss
Labels: enhancement, frontend

#71 Shared Types
  apps/backend/src/dto/poll-event.dto.ts
  apps/backend/src/dto/poll.dto.ts
  apps/backend/src/poll/poll.module.ts
  apps/backend/src/poll/poll/poll.controller.ts
  apps/backend/src/poll/poll/poll.service.ts
  apps/backend/src/schema/ref.decorator.ts
  apps/backend/src/statistics/statistics.module.ts
  apps/backend/src/statistics/statistics/statistics.controller.ts
  apps/backend/src/statistics/statistics/statistics.service.ts
  apps/backend/src/token/token.module.ts
  apps/backend/src/token/token/token.service.ts
  apps/frontend/project.json
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/app/modals/settings-modal/settings-modal.component.ts
  apps/frontend/src/app/model/index.ts
  apps/frontend/src/app/model/mail.ts
  apps/frontend/src/app/model/participant.ts
  apps/frontend/src/app/model/poll-event.ts
  apps/frontend/src/app/model/poll.ts
  apps/frontend/src/app/model/read-poll.ts
  apps/frontend/src/app/model/settings.ts
  apps/frontend/src/app/model/statistics.ts
  apps/frontend/src/app/poll/choose-date/choose-date.component.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.ts
  apps/frontend/src/app/poll/poll.module.ts
  apps/frontend/tsconfig.json
  libs/types/.babelrc
  libs/types/.eslintrc.json
  libs/types/README.md
  libs/types/jest.config.ts
  libs/types/project.json
  libs/types/src/index.ts
  libs/types/src/lib/dto/index.ts
  libs/types/src/lib/dto/mail.dto.ts
  libs/types/src/lib/dto/participant.dto.ts
  libs/types/src/lib/dto/poll-event.dto.ts
  libs/types/src/lib/dto/poll.dto.ts
  libs/types/src/lib/dto/statistics.dto.ts
  libs/types/src/lib/index.ts
  libs/types/src/lib/schema/index.ts
  libs/types/src/lib/schema/participant.schema.ts
  libs/types/src/lib/schema/poll-event.schema.ts
  libs/types/src/lib/schema/poll.schema.ts
  libs/types/src/lib/schema/settings.ts
  libs/types/tsconfig.json
  libs/types/tsconfig.lib.json
  libs/types/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: enhancement, frontend, backend

#72 Basic eslint
  .eslint-overrides.json
  .eslintrc.json
  apps/backend/.eslintrc.json
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail/mail.service.ts
  apps/backend/src/poll/poll.module.ts
  apps/backend/src/poll/poll/poll.controller.ts
  apps/backend/src/poll/poll/poll.service.ts
  apps/backend/src/statistics/statistics.module.ts
  apps/backend/src/statistics/statistics/statistics.controller.ts
  apps/backend/src/token/token.module.ts
  apps/backend/src/token/token/token.service.ts
  apps/frontend/.eslintrc.json
  apps/frontend/src/app/about/about.module.ts
  apps/frontend/src/app/app.module.ts
  apps/frontend/src/app/core/services/mail.service.ts
  apps/frontend/src/app/core/services/token.service.ts
  apps/frontend/src/app/dashboard/dashboard.module.ts
  apps/frontend/src/app/poll/choose-date/choose-date.component.ts
  apps/frontend/src/app/poll/poll-routing.module.ts
  apps/frontend/src/app/poll/poll.module.ts
  package.json
  pnpm-lock.yaml
Labels: enhancement, frontend, backend
