Repository Morphclue/apollusia, pull requests merged in 2023-05, with the labels that each got.

#73 Update to Nx 16
  .eslintrc.json
  apps/backend-e2e/project.json
  apps/backend/project.json
  apps/backend/webpack.config.js
  apps/frontend-e2e/cypress.config.ts
  apps/frontend-e2e/project.json
  apps/frontend/.eslintrc.json
  apps/frontend/project.json
  jest.config.ts
  jest.preset.js
  libs/types/.babelrc
  libs/types/project.json
  nx.json
  package.json
  pnpm-lock.yaml
  tools/generators/.gitkeep
Labels: enhancement

#53 Basic tests
  .github/workflows/test.yml
  apps/backend/src/environment.ts
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail/mail.service.spec.ts
  apps/backend/src/mail/mail/mail.service.ts
  apps/backend/src/poll/poll/poll.controller.spec.ts
  apps/backend/src/poll/poll/poll.service.spec.ts
  apps/backend/src/poll/poll/poll.service.ts
  apps/backend/src/push/push.service.ts
  apps/backend/src/statistics/statistics/statistics.controller.spec.ts
  apps/backend/src/statistics/statistics/statistics.service.spec.ts
  apps/backend/src/token/token/token.controller.spec.ts
  apps/backend/src/token/token/token.service.spec.ts
  apps/backend/src/utils/mongo-util.ts
  apps/backend/test/stubs/ParticipantStub.ts
  apps/backend/test/stubs/PollEventStub.ts
  apps/backend/test/stubs/PollStub.ts
  apps/backend/test/stubs/index.ts
  apps/frontend/src/app/about/about/about.component.spec.ts
  apps/frontend/src/app/about/features/features.component.spec.ts
  apps/frontend/src/app/about/statistics/statistics.component.spec.ts
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/core/cookie-banner/cookie-banner.component.spec.ts
  apps/frontend/src/app/core/interceptors/participant-token.interceptor.spec.ts
  apps/frontend/src/app/core/navbar/navbar.component.spec.ts
  apps/frontend/src/app/core/pipes/location-icon.pipe.spec.ts
  apps/frontend/src/app/core/services/mail.service.spec.ts
  apps/frontend/src/app/core/services/token.service.spec.ts
  apps/frontend/src/app/core/token/token.component.spec.ts
  apps/frontend/src/app/dashboard/card/card.component.spec.ts
  apps/frontend/src/app/dashboard/dashboard/dashboard.component.spec.ts
  apps/frontend/src/app/dashboard/pipes/search.pipe.spec.ts
  apps/frontend/src/app/modals/autofill-modal/autofill-modal.component.spec.ts
  apps/frontend/src/app/modals/postpone-modal/postpone-modal.component.spec.ts
  apps/frontend/src/app/modals/settings-modal/settings-modal.component.spec.ts
  apps/frontend/src/app/pipes/some.pipe.spec.ts
  apps/frontend/src/app/pipes/truncate.pipe.spec.ts
  apps/frontend/src/app/poll/check-button/check-button.component.spec.ts
  apps/frontend/src/app/poll/choose-date/choose-date.component.spec.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.spec.ts
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.spec.ts
  apps/frontend/src/app/poll/event-head/event-head.component.spec.ts
  apps/frontend/src/app/poll/services/choose-date.service.spec.ts
  apps/frontend/src/app/poll/services/poll.service.spec.ts
  apps/frontend/src/test-setup.ts
  apps/frontend/src/test.ts
  package.json
  pnpm-lock.yaml
Labels: enhancement, backend

#75 Remove unused app-controller and -service
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/app.service.ts
Labels: enhancement, backend

#77 Shorter IDs
  apps/backend/src/poll/poll/poll.controller.spec.ts
  apps/backend/src/poll/poll/poll.controller.ts
  apps/backend/src/poll/poll/poll.service.spec.ts
  apps/backend/src/poll/poll/poll.service.ts
  apps/backend/test/stubs/PollStub.ts
  apps/frontend/src/app/dashboard/card/card.component.html
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.ts
  libs/types/src/lib/dto/poll.dto.ts
  libs/types/src/lib/schema/poll.schema.ts
  package.json
  pnpm-lock.yaml
Labels: enhancement, frontend, backend

#78 Show participation timestamps
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  libs/types/src/lib/schema/participant.schema.ts
Labels: enhancement, frontend, backend

#82 Clear selection after submit
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
Labels: enhancement, frontend

#81 Add database column indices
  apps/backend/src/poll/poll/poll.service.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  libs/types/src/lib/schema/participant.schema.ts
  libs/types/src/lib/schema/poll-event.schema.ts
  libs/types/src/lib/schema/poll.schema.ts
  libs/types/src/lib/schema/settings.ts
  package.json
  pnpm-lock.yaml
Labels: enhancement, frontend, backend

#83 Fix blockquote styling
  apps/frontend/src/styles.scss
Labels: bug, enhancement, frontend
