Repository Morphclue/apollusia, pull requests merged in 2024-03, with the labels that each got.

#138 Eslint single quote rule
  .eslint-overrides.json
  apps/backend/test/stubs/PollStub.ts
  apps/frontend/src/app/about/features/features.component.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/core/navbar/navbar.component.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.ts
  apps/frontend/src/app/poll/event-list/event-list.component.ts
  apps/frontend/src/app/poll/participant-info/participant-info.component.ts
  apps/frontend/src/app/poll/services/poll.service.ts
  apps/frontend/src/app/poll/table/table.component.ts
Labels: enhancement

#139 CI: Automatically fix and commit problems
  .github/workflows/test.yml
Labels: ci/cd

#140 New Poll Info in Dashboard and Poll View
  apps/frontend/src/app/core/core.module.ts
  apps/frontend/src/app/core/info-table/info-table.component.html
  apps/frontend/src/app/core/info-table/info-table.component.scss
  apps/frontend/src/app/core/info-table/info-table.component.ts
  apps/frontend/src/app/dashboard/card/card.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
Labels: frontend

#137 Configurable iCal Export and Preview
  apps/frontend/src/app/app-routing.module.ts
  apps/frontend/src/app/core/markdown/markdown.component.ts
  apps/frontend/src/app/core/services/markdown.service.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  apps/frontend/src/app/poll/ical/ical-config.ts
  apps/frontend/src/app/poll/ical/ical.component.html
  apps/frontend/src/app/poll/ical/ical.component.scss
  apps/frontend/src/app/poll/ical/ical.component.ts
  apps/frontend/src/app/poll/poll-routing.module.ts
  apps/frontend/src/app/poll/poll.module.ts
Labels: enhancement, frontend

#141 Improved iCal Preview and Booked Option
  README.md
  apps/frontend/src/app/about/features/features.component.ts
  apps/frontend/src/app/poll/ical/ical.component.html
  apps/frontend/src/app/poll/ical/ical.component.ts
Labels: frontend

#142 New Feature Icons
  README.md
  apps/frontend/src/app/about/features/features.component.html
  apps/frontend/src/app/about/features/features.component.ts
  apps/frontend/src/app/about/features/features.json
  apps/frontend/tsconfig.json
  docs/bootstrap-icons/LICENSE
  docs/bootstrap-icons/icons/1-square.svg
  docs/bootstrap-icons/icons/calendar-day.svg
  docs/bootstrap-icons/icons/calendar-range.svg
  docs/bootstrap-icons/icons/calendar-week.svg
  docs/bootstrap-icons/icons/calendar2-week.svg
  docs/bootstrap-icons/icons/chat-dots.svg
  docs/bootstrap-icons/icons/clock-history.svg
  docs/bootstrap-icons/icons/copy.svg
  docs/bootstrap-icons/icons/eye-slash.svg
  docs/bootstrap-icons/icons/fast-forward.svg
  docs/bootstrap-icons/icons/incognito.svg
  docs/bootstrap-icons/icons/markdown.svg
  docs/bootstrap-icons/icons/pencil-square.svg
  docs/bootstrap-icons/icons/question-square.svg
  docs/bootstrap-icons/icons/send.svg
  docs/bootstrap-icons/icons/sticky.svg
  docs/bootstrap-icons/icons/universal-access-circle.svg
  tools/generate-features.mjs
Labels: documentation, enhancement, frontend
