Repository Morphclue/apollusia, pull requests merged in 2024-02, with the labels that each got.

#108 Update actions/checkout
  .github/workflows/deploy.yml
  .github/workflows/gh-package.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Labels: enhancement

#109 Grey out event-head and check-button
  apps/frontend/src/app/poll/check-button/check-button.component.html
  apps/frontend/src/app/poll/check-button/check-button.component.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
Labels: enhancement, frontend

#85 Darkmode using Bootstrap 5.3
  apps/frontend/src/app/about/features/features.component.scss
  apps/frontend/src/app/core/core.module.ts
  apps/frontend/src/app/core/navbar/navbar.component.html
  apps/frontend/src/app/core/navbar/navbar.component.ts
  apps/frontend/src/app/core/token/token.component.scss
  apps/frontend/src/app/dashboard/card/card.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.scss
  apps/frontend/src/index.html
  apps/frontend/src/styles.scss
Labels: enhancement, frontend

#112 Update action-setup and setup-node for node 20
  .github/workflows/test.yml
Labels: enhancement

#124 Fix for poorly visible Locked Events
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  apps/frontend/src/styles.scss
Labels: enhancement, frontend

#125 Update to nx 18
  apps/backend/project.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

#131 Fix TypeError
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
Labels: bug, enhancement

#126 Sort Participants and Select All
  apps/frontend/project.json
  apps/frontend/src/app/poll/check-button/check-button.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.scss
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  apps/frontend/src/polyfills.ts
  apps/frontend/tsconfig.app.json
Labels: enhancement, frontend

#114 New ShowResults Logic
  apps/backend/src/poll/poll/poll.controller.ts
  apps/backend/src/poll/poll/poll.service.ts
  apps/backend/test/stubs/PollStub.ts
  apps/frontend/src/app/model/index.ts
  apps/frontend/src/app/poll/check-button/check-button.component.ts
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.html
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.ts
  apps/frontend/src/app/poll/services/poll.service.ts
  libs/types/src/lib/dto/poll-event.dto.ts
  libs/types/src/lib/schema/index.ts
  libs/types/src/lib/schema/poll.schema.ts
  libs/types/src/lib/schema/settings.ts
  libs/types/src/lib/schema/show-result-options.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: enhancement, frontend, backend
