Repository Morphclue/apollusia, pull requests merged in 2024-01, with the labels that each got.

#101 Migrate to Nx 17.2 and Angular 17
  .eslint-overrides.json
  .gitignore
  .prettierignore
  apps/backend-e2e/project.json
  apps/backend/project.json
  apps/backend/src/poll/poll/poll.service.ts
  apps/backend/tsconfig.app.json
  apps/frontend-e2e/project.json
  apps/frontend/project.json
  apps/frontend/server.ts
  apps/frontend/src/app/about/features/features.component.html
  apps/frontend/src/app/about/promises/promises.component.html
  apps/frontend/src/app/about/statistics/statistics.component.html
  apps/frontend/src/app/core/cookie-banner/cookie-banner.component.html
  apps/frontend/src/app/core/location-link/location-link.component.html
  apps/frontend/src/app/core/token/token.component.html
  apps/frontend/src/app/dashboard/card/card.component.html
  apps/frontend/src/app/dashboard/dashboard/dashboard.component.html
  apps/frontend/src/app/legal/legal/legal.component.html
  apps/frontend/src/app/modals/settings-modal/settings-modal.component.html
  apps/frontend/src/app/poll/choose-date/choose-date.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/create-poll/create-edit-poll.component.html
  apps/frontend/src/app/poll/event-head/event-head.component.html
  libs/types/project.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: frontend, dependencies

#103 Grey out / disable previous slots
  apps/frontend/src/app/poll/choose-date/choose-date.component.html
  apps/frontend/src/app/poll/choose-date/choose-date.component.ts
  apps/frontend/src/app/poll/services/choose-date.service.ts
  apps/frontend/src/styles.scss
Labels: enhancement, frontend

#104 Prevent validation error in Anonymous polls
  apps/frontend/src/app/poll/choose-events/choose-events.component.html
  apps/frontend/src/app/poll/choose-events/choose-events.component.ts
Labels: bug, frontend

#107 Update dependencies
  package.json
  pnpm-lock.yaml
Labels: enhancement
